img {
  width: 100%;
  height: auto;
}
h1 {
  color: #fff;
  font-weight: bold;
}
p {
  color: #fff;
}
a {
  border: 1px solid #e50914;
  color: #fff;
  text-decoration: none;
}
a:hover {
  border: 1px solid #e50914;
  color: #e50914;
}
