button {
  background-color: #e50914;
  color: white;
  transition: all 0.5s;
}
button:hover {
  background-color: #a90303;
  color: white;
}
img {
  width: 100%;
}
h5 {
  color: #fff;
}
.movie {
  cursor: pointer;
}
